.accordeon {
    margin-bottom: 223px;
    &__item-activ {
        .accordeon__content {
            display: block;
        }
    }
    &__item {
        border-bottom:  1px solid rgb(0, 0, 0);
        margin-left: 200px;
        position: relative;
        min-height: 136px;
        cursor: pointer;
        &:last-child {
            &:after {
                content: '';
                position: absolute;
                background-image: url(../img/acardion.jpg);
                width: 65px;
                height: 120px;
                bottom: -73px;
                left: 268px;
            }
        }
        &:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 51px;
            background-image: url(../icons/Arrow-down.svg);
            right: 85px;
            top: 50px;
        }
    }
    &__triger {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-right: 101px;
        padding-bottom: 20px;
        &-title {
            color: rgb(0, 0, 0);
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 400;
            flex-basis: 300px;
        }
        &-text {
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            flex-basis: 387px;
            margin-right: 104px;
        }
    }
    &__content {
        padding-top: 20px;
        margin-bottom: 10px;
        display: none;
            &-activ {
            display: block;
        }

            
    }
}