.top {
    margin-bottom: 150px;
    &-slide {
        &__btn {
            position: absolute;
            right: 0px;
        }
        &__inner {
            position: relative;
            min-height: 700px;
            padding-right: 3px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__content {
            flex-basis: 183px;
            margin-top: -115px;
        }
        &__title {
            font-size: 70px;
            font-weight: 400;
            line-height: 1.3;
            margin-bottom: 56px;

        }
        &__subtitle {
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            margin-bottom: 20px;
        }
    }
    .swiper {
        padding-bottom: 50px;
    }
}
.swiper-button-prev,.swiper-button-next{
    display: block;
    position: absolute;
    top: 50px;
    &::after {
        content: none;
    }
}
.swiper-button-next {
    left: 75px;
    right: auto;
}